* {
  margin: 0;
  padding: 0;
}
body {
  background-color: lightcyan;
  font-family: Arial, sans-serif;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.reviews-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  gap: 20px;
  margin: 100px auto;
}
.review-card {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.review-heading {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
.review-text {
  font-size: 20px;
  margin-bottom: 20px;
}
.reivew-person {
  font-size: 18px;
  font-weight: 700;
}
@media (max-width: 1000px) {
  .review-card {
    padding: 15px;
  }
  .review-heading {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .review-text {
    font-size: 15px;
    margin-bottom: 8px;
  }
  .reivew-person {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .review-card {
    padding: 10px;
  }
  .review-heading {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .review-text {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .reivew-person {
    font-size: 12px;
  }
}
